[Unit]
Description=Honeytrap Agent
Documentation=https://honeytrap.io
Wants=network-online.target
After=network-online.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE

User=honeytrap-agent

ExecStart=/usr/bin/honeytrap-agent \
        --data /var/lib/honeytrap-agent \
        --config /etc/honeytrap-agent.toml

StandardOutput=journal
StandardError=inherit

TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
